body {
  text-align: center;
  background-image: url("https://images6.alphacoders.com/423/423653.jpg");
  background-attachment: fixed;
}


#date-zip-btn {
  background-color: navy;
  color: whitesmoke;
  font-size: 12px;
}

.col-sm-12.card-container {
  display: inline-block;
  width: 50%;
}

.col-md-12.card-container {
  display: inline-block;
  width: 49%;
}

.row1 {
  height: 311px;
}

.card.toprow {
  min-height: 311px;
}

.container {
  opacity: 0.8;
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.start-button {
  padding: 5px 15px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: whitesmoke;
}

.start-button:after,
.start-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid whitesmoke;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.start-button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

.start-button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.start-button:hover:after,
.start-button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.favorite-event, .favorite-rest {
  background-color: rgb(245, 185, 195);
  padding: 5px;
  border-radius: 10px;
}

.forecast {
  line-height: 2.5em;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600ihttps://images6.alphacoders.com/423/423653.jpg');
html,body{
margin:0;
height: 100%;
font-family: 'Josefin Sans', sans-serif;

}
.header{
position:relative;
overflow:hidden;
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
height:50vw;
min-height:100vh;
color:#eee;
}
.header:after{
content:"";
width:100%;
height:40%;
position:absolute;
bottom:0;
left:0;
z-index:-1;
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
content:"";
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
background:#1B2030 url(https://images6.alphacoders.com/423/423653.jpg) top center no-repeat;
background-size:cover;
background-attachment:fixed;
animation: grow 60s  linear 10ms infinite;
transition:all 0.2s ease-in-out;
z-index:-2
}
.header a{
color:#eee
}
.menu{
display:block;
width:30px;
height:30px;
border:2px solid #fff;
border-radius:3px;
position:absolute;
right:20px;
top:20px;
text-decoration:none
}
.menu:after{
content:"";
display:block;
width:20px;
height:3px;
background:#fff;
position:absolute;
margin:0 auto;
top:5px;
left:0;
right:0;
box-shadow:0 8px, 0 16px
}
.logo{
border:2px solid #fff;
border-radius:3px;
text-decoration:none;
display:inline-block;
margin:20px;
padding:5px 10px;
font-weight:600;
font-size:1.2em;
box-sizing:border-box
}
.sides, .info{
flex: 0 0 auto;
width:50%
}
.info{
width:100%;
padding:15% 10% 0 10%;
text-align:center;
text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
display:inline-block;
width:50px;
height:50px;
border-radius:50%;
background:url(https://images6.alphacoders.com/423/423653.jpg) center no-repeat;
background-size:cover;
box-shadow:0 2px 3px rgba(0,0,0,0.3);
margin-bottom:3px
}
.info h4, .meta{
font-size:0.7em
}
.meta{
font-style:italic;
}
@keyframes grow{
0% { transform:scale(1)}
50% { transform:scale(1.2)}
}
.content{  
padding:5% 10%;
text-align:justify
}

.event {
margin-bottom: 20px;
}

.restaurant {
margin-bottom: 20px;
}

