body {
    text-align: center;
}


#submit-btn {
    background-color: black;
    color: whitesmoke;
    font-size: 12px;
}

body {
    background-image: url("https://images6.alphacoders.com/423/423653.jpg");
    background-attachment: fixed;
}

.col-sm-12.card-container {
    display: inline-block;
    width: 50%;
}

.col-md-12.card-container {
    display: inline-block;
    width: 49%;
    margin: 20;
}

.container {
    opacity: 0.8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

header {
    text-align: center;
    opacity: 0.8;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, navy 10%, lightblue 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

/* button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: whitesmoke;
	background: navy;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
} */
button:hover {
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: whitesmoke;
}

button:after,
button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid whitesmoke;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

button:after {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
}

button:before {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
}

button:hover:after,
button:hover:before {
    -webkit-transform: translate(0);
    transform: translate(0);
}